<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(find move_base)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find move_base)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find move_base)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find move_base)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find move_base)/odom/base_local_planner_params.yaml" command="load" />
  </node>
  
  <include file="$(find map_server)/launch/map_server.launch"/> 
</launch>
